@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

body {
    background-color: black;
    color: white;
    font-family: 'Cascadia Code';
    font-size: 1.2rem;
}

.input {
    width: 70%;
    background-color: rgb(0, 0, 0);
    border-width: 0;
    color: rgb(170, 170, 170);
    font-family: 'Cascadia Code';
    font-size: 1.2rem;
}

a {
    color: rgb(80, 147, 255);
}

a:hover {
    color: rgb(65, 137, 253);
}

a:active {
    color: rgb(65, 137, 253);
}

.input:focus {
    outline: none;
}

.bio-title {
    font-size: 2em;
    text-align: center;
    color: white;
}

.bio-content {
    text-align: center;
    color: rgb(189, 189, 189);
}