@font-face {
    font-family: "JSDongkang-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
        format("woff");
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "JSDongkang-Regular";
    background-color: rgb(232, 232, 232);
    font-size: 150%;
    margin: auto;
}

::-moz-selection, ::selection {
    background: #909090;
    color: #000;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text h1 {
    color: rgb(0, 0, 0);
    opacity: 0;
    font-family: "TmonMonsori";
}

.aboutme {
    top: -10%;
    opacity: 0;
    color:rgb(37, 37, 37)
}

.block {
    background: rgb(21, 21, 21);
    position: absolute;
    height: 30%;
}
